* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caveat", cursive;
  color: #1c353e;
  background-color: #f4f4f4;
  height: 100vh;
  overflow: hidden;
}
body .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 12px #a0a0a0;
}
body .wrapper .instruction {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 10;
  top: -50%;
}
body .wrapper .instruction .bookmark {
  position: absolute;
  width: 45%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: green;
  bottom: -2.6rem;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 0.4rem;
}
body .wrapper .instruction .bookmark .bookmark-name {
  font-size: 1.6rem;
}
body .wrapper .card-wrapper {
  position: absolute;
  width: 85%;
  height: 60%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0 0 12px #a0a0a0;
  z-index: 0;
}
body .wrapper .card-wrapper .app-title-box {
  position: relative;
  border-radius: 20px;
  background-color: #fafafa;
}
body .wrapper .card-wrapper .app-title-box .app-title {
  font-size: 3.5rem;
  font-weight: lighter;
  letter-spacing: 1px;
}
body .wrapper .card-wrapper .app-title-box .app-title .time-word {
  position: relative;
}
body .wrapper .card-wrapper .app-title-box .app-title .time-word .color-dot,
body .wrapper .card-wrapper .app-title-box .app-title .time-word .white-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 33%;
  right: 55%;
  z-index: 1;
}
body .wrapper .card-wrapper .app-title-box .app-title .time-word .color-dot {
  animation: red-dot 5s infinite;
}
body .wrapper .card-wrapper .app-title-box .app-title .time-word .white-dot {
  background-color: #fff;
  z-index: 0;
}
body .wrapper .card-wrapper .card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 85%;
  height: 90%;
  border-radius: 16px;
  box-shadow: 0 0 12px #a0a0a0;
  overflow: hidden;
}
body .wrapper .card-wrapper .card .stopwatch-page {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
body .wrapper .card-wrapper .card .stopwatch-history-page {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1.8rem;
  border-radius: 16px;
  background-image: linear-gradient(340deg, #2a9d8f 20%, #dcf8ef 78%);
  transform: rotateY(180deg);
}
body .wrapper .card-wrapper .card .stopwatch-history-page .history-of-times {
  margin-top: 3.5rem;
}
body .wrapper .card-wrapper .card .stopwatch-history-page .stopwatch-close-history {
  border-radius: 7px;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 0 4px #a0a0a0;
  background-color: #fafafa;
  transition: background-color 0.3s;
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-family: "Caveat", cursive;
  transition: color 0.3s;
  margin-top: 0.5rem;
  position: absolute;
  bottom: 2.5rem;
}
body .wrapper .card-wrapper .card .stopwatch-history-page .stopwatch-close-history:hover {
  background-color: #dcf8ef;
  box-shadow: 0 0 4px #fafafa;
}
body .wrapper .card-wrapper .card .title-box {
  width: 100%;
  box-shadow: 0 0 12px #a0a0a0;
}
body .wrapper .card-wrapper .card .title-box .title {
  text-align: center;
  letter-spacing: 2px;
  margin: 2rem 0;
  font-size: 3.3rem;
  font-weight: lighter;
}
body .wrapper .card-wrapper .card .stopwatch-title-box {
  background-color: #2a9d8f;
}
body .wrapper .card-wrapper .card .timer-title-box {
  background-color: #e9c46a;
}
body .wrapper .card-wrapper .card .weather-title-box {
  background-color: #e76f51;
}
body .wrapper .card-wrapper .card .card-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;
  width: 90%;
  height: 60%;
  background-color: #fafafa;
  z-index: 1;
}
body .wrapper .card-wrapper .card .card-box .stopwatch-clock {
  margin-top: 1.7rem;
  font-size: 4rem;
}
body .wrapper .card-wrapper .card .card-box .show-last-time {
  font-size: 1.8rem;
}
body .wrapper .card-wrapper .card .card-box .timer-btn-box {
  bottom: 1.5rem;
}
body .wrapper .card-wrapper .card .card-box .stopwatch-btn-box {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40%;
  bottom: 1rem;
  flex-wrap: wrap;
}
body .wrapper .card-wrapper .card .card-box .stopwatch-btn-box .stopwatch-btn {
  margin: 0.5rem 0.2rem;
  padding: 0.5rem 1.1rem;
}
body .wrapper .card-wrapper .card .card-box .stopwatch-btn-box .stopwatch-history {
  margin-top: 0.8rem;
}
body .wrapper .card-wrapper .card .card-box .stopwatch-btn-box .stopwatch-history,
body .wrapper .card-wrapper .card .card-box .stopwatch-btn-box .stopwatch-btn {
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 0 4px #a0a0a0;
  background-color: transparent;
  transition: background-color 0.3s;
  box-shadow: 0 0 4px #2a9d8f;
}
body .wrapper .card-wrapper .card .card-box .stopwatch-btn-box .stopwatch-btn:hover,
body .wrapper .card-wrapper .card .card-box .stopwatch-btn-box .stopwatch-history:hover {
  background-color: #2a9d8f;
}
body .wrapper .card-wrapper .card .card-box .stopwatch-btn-box .stopwatch-btn:hover .fa-solid {
  color: white;
}
body .wrapper .card-wrapper .card .card-box .stopwatch-btn-box .stopwatch-history:hover {
  color: white;
}
body .wrapper .card-wrapper .card .card-box .timer-btn-box {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 1rem;
}
body .wrapper .card-wrapper .card .card-box .timer-btn-box .timer-edit {
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
  box-shadow: 0 0 4px #e9c46a;
}
body .wrapper .card-wrapper .card .card-box .timer-btn-box .timer-edit:hover {
  background-color: #e9c46a;
}
body .wrapper .card-wrapper .card .card-box .big-button {
  width: 60%;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  padding: 0.4rem 0;
  letter-spacing: 2px;
  font-family: "Caveat", cursive;
  transition: color 0.3s;
}
body .wrapper .card-wrapper .card .timer-content {
  width: 100%;
}
body .wrapper .card-wrapper .card .timer-content .event-name {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  margin-top: 1.5rem;
  font-weight: lighter;
  text-align: center;
}
body .wrapper .card-wrapper .card .timer-content .timer-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 1rem;
  padding: 0.4rem;
}
body .wrapper .card-wrapper .card .timer-content .timer-box .small-box {
  padding: 0.2rem 0.3rem;
  width: 23%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 5px;
}
body .wrapper .card-wrapper .card .timer-content .timer-box .small-box .count-number {
  font-size: 2rem;
  font-weight: bold;
}
body .wrapper .card-wrapper .card .timer-content .timer-box .small-box hr {
  width: 80%;
  margin: 0 auto;
}
body .wrapper .card-wrapper .stopwatch {
  transform-style: preserve-3d;
  perspective: 300px;
  transition: 0.8s;
}
body .wrapper .card-wrapper .hide-card {
  display: none;
}
body .wrapper .card-wrapper .weather .weather-content {
  position: relative;
  display: flex;
  align-items: center;
}
body .wrapper .card-wrapper .weather .weather-content .weather-popup {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
}
body .wrapper .card-wrapper .weather .weather-content .weather-popup .popup-weather-header {
  font-size: 2rem;
}
body .wrapper .card-wrapper .weather .weather-content .weather-popup .input-city-name {
  padding: 0.5rem;
  font-family: "Caveat", cursive;
  border: none;
  border-bottom: 2px solid #e76f51;
  background-color: #fafafa;
  width: 60%;
  text-align: center;
  font-size: 1.7rem;
}
body .wrapper .card-wrapper .weather .weather-content .weather-popup .input-city-name:focus {
  outline: none;
  border: 2px solid #e76f51;
  border-radius: 3px;
}
body .wrapper .card-wrapper .weather .weather-content .weather-popup .weather-send-btn {
  font-family: "Caveat", cursive;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: 0 0 6px #e76f51;
  background-color: #fafafa;
  cursor: pointer;
}
body .wrapper .card-wrapper .weather .weather-content .weather-popup .weather-send-btn:hover {
  background-color: #e76f51;
  color: white;
}
body .wrapper .card-wrapper .weather .weather-content .city {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  margin-top: 7px;
}
body .wrapper .card-wrapper .weather .weather-content .weather-box {
  display: flex;
  width: 80%;
  font-size: 1.8rem;
  margin-top: 5px;
}
body .wrapper .card-wrapper .weather .weather-content .weather-box .weather-headings,
body .wrapper .card-wrapper .weather .weather-content .weather-box .weather-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .wrapper .card-wrapper .weather .weather-content .weather-icon {
  margin-top: 2.5rem;
  width: 50px;
}
body .wrapper .timer-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  color: rgb(249, 246, 246);
}
body .wrapper .timer-popup .popup-timer-header {
  margin: 2rem;
  font-size: 2.2rem;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  letter-spacing: 1px;
}
body .wrapper .timer-popup .popup-input-event-name {
  width: 70%;
  text-align: center;
  border: none;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
body .wrapper .timer-popup input {
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Caveat", cursive;
}
body .wrapper .timer-popup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body .wrapper .timer-popup .popup-date-box {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .wrapper .timer-popup .popup-date-box .label-box .popup-label {
  font-size: 1.6rem;
}
body .wrapper .timer-popup .popup-date-box .label-box,
body .wrapper .timer-popup .popup-date-box .input-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body .wrapper .timer-popup .popup-date-box .label-box input,
body .wrapper .timer-popup .popup-date-box .input-box input {
  width: 30%;
  text-align: center;
  border: none;
  font-size: 1.8rem;
  margin: 0.5rem;
}
body .wrapper .timer-popup .timer-save {
  margin-top: 40px;
  width: 30%;
  font-size: 20px;
  font-family: "Caveat", cursive;
  padding: 5px 12px;
  box-shadow: 0 0 4px #e9c46a;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: inset 0 0 4px #e9c46a;
}
body .wrapper .timer-popup .timer-save:hover {
  background-color: #e9c46a;
}
body .wrapper .timer-popup .error {
  margin-top: 2rem;
  letter-spacing: 0.5px;
  font-size: 2rem;
}
body .wrapper .show-timer-popup {
  display: flex;
}
body .wrapper .button-box {
  position: absolute;
  bottom: 6rem;
  width: 85%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fafafa;
  padding: 0.7rem;
  box-shadow: 0 0 1rem #a0a0a0;
  border-radius: 15px;
}
body .wrapper .button-box .show-card-bth {
  font-size: 2rem;
  margin: 0.5rem;
  font-family: "Caveat", cursive;
  padding: 0.5rem 0;
  border-radius: 8px;
  border: 2px solid transparent;
  width: 40%;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}
body .wrapper .button-box .show-stopwatch-btn {
  box-shadow: 0 0 5px #2a9d8f;
}
body .wrapper .button-box .show-timer-btn {
  box-shadow: 0 0 6px #e9c46a;
}
body .wrapper .button-box .show-weather-btn {
  box-shadow: 0 0 6px #e76f51;
}
body .wrapper .button-box .show-stopwatch-btn:hover {
  background-color: #2a9d8f;
  color: white;
}
body .wrapper .button-box .show-timer-btn:hover {
  background-color: #e9c46a;
}
body .wrapper .button-box .show-weather-btn:hover {
  background-color: #e76f51;
  color: white;
}
body .wrapper .time-date-box {
  position: absolute;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.55);
  color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
body .wrapper .time-date-box .clock-name,
body .wrapper .time-date-box .date-name {
  margin-right: 1rem;
}
body .wrapper .time-date-box .time {
  margin-right: 3.5rem;
}

@keyframes red-dot {
  0% {
    opacity: 0;
  }
  17% {
    opacity: 1;
    background-color: #e76f51;
  }
  33% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    background-color: #e9c46a;
  }
  66% {
    opacity: 0;
  }
  83% {
    opacity: 1;
    background-color: #2a9d8f;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */