@mixin timer-button {
   
    font-size: 20px;
    font-family: 'Caveat', cursive;
    padding: 5px 12px;
    box-shadow: 0 0 4px $timer-color;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}