@mixin timer-button {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	padding: 5px 12px;
	box-shadow: 0 0 4px $timer-color;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
}

@mixin stopwatch-button {
	border: 3px solid transparent;
	background-color: white;
	font-size: 2rem;
	color: black;
	box-shadow: 0 0 8px #2d0d30;
}

// @mixin start-button-box {
// 	height: 80%;
// 	flex-direction: column;
// 	justify-content: space-around;
// 	margin-top: 10%;
// }
// @mixin end-button-box {
// 	bottom: 5rem;
// 	width: 100%;
// 	left: 50%;
// 	transform: translate(-50%);
// 	justify-content: center;
// 	padding: 0.7rem;
// }
// @mixin start-show-card-btn {
// 	padding: 3rem 2rem;
// 	width: fit-content;
// }
// @mixin end-show-card-btn {
// 	justify-content: center;
// 	padding: 1.5rem 1rem;
// 	margin: 0.5rem;
// }

// @mixin start-span {
// 	font-size: 3rem;
// }
// @mixin end-span {
// 	font-size: 1.6rem;
// }
// @mixin start-show-card-bth-before {
// 	width: 52px;
// 	height: 52px;
// 	top: 6%;
// 	left: 0;
// }

// @mixin end-show-card-bth-before {

// 	top: -3%;
// 	left: -1px;
// 	width: 32px;
// 	height: 32px;
// }
