@import './colors';
@import './mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: 62.5%;
	// button-box
	--1bb-height: 70%;
	--1bb-flex-direction: column;
	--1bb-justify-content: space-around;
	--1bb-margin-top: 35%;

	// show-card-btn
	--1scb-padding: 3rem 2rem;
	--1scb-width: fit-content;

	// span
	--1span-font-size: 2rem;

	// before
	--1before-width: 42px;
	--1before-height: 42px;
	--1before-top: 16%;
	--1before-left: 0;

	--animation-left: none;

	--animation-right: none;

	--card-anime-stopwatch: none;

	--card-anime-timer: none;

	--card-anime-weather: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	color: $font-color;
	background-color: #f4f4f4;
	height: 100vh;
	overflow: hidden;
	color: #fafafa;
	.wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		// background-color: #2d0d30;
		// border-radius: 20px;
		display: flex;
		justify-content: center;
		overflow: hidden;
		.instruction {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: #2d0d30;
			z-index: 10;
			// justify-content: center;
			align-items: center;
			flex-direction: column;
			top: -100%;
			// top: 0;
			padding: 4rem;
			text-align: center;
			font-size: 1.6rem;
			transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
			
			.roll-up {
				padding: 0.5rem;
				width: 30%;
				margin-top: 5rem;
				border-radius: 8px;
				font-size: 1.4rem;
				cursor: pointer;
			}
			h3 {
				margin-top: 4rem;
			}
			p {
				line-height: 3rem;
			}
			.open-instruction-line-anime {
				animation: openInstructionLineAnime 1s none;
				
			}
			.close-instruction-line-anime{
				animation: closeInstructionLineAnime 1s none;
			}
			.bookmark {
				position: absolute;
				width: 45%;
				height: 4rem;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				line-height: 2rem;
				background-color: #2d0d30;
				// background-color: red;
				bottom: -3.4rem;
				z-index: 10;
				// left: 50%;
				// transform: translate(-50%);
				border-radius: 8px;
				// padding: 0.4rem;
				cursor: pointer;
				.bookmark-name {
					font-size: 1.6rem;
				}
				img {
					// display: inline-block;
					width: 4rem;
					margin-bottom: -0.6rem;
					margin-left: auto;
					margin-right: auto;
					animation: small-bounce-arrow 2s infinite;
				}
			}
			.stopwatch-info-header,
			.timer-info-header {
				margin-bottom: 5rem;
				letter-spacing: 0.1rem;
			}
			span {
				font-weight: bold;
			}
			.stopwatch-info {
				margin-top: 5rem;
			}
			.timer-button-info {
				margin-top: 3rem;
			}
		}
		.active {
			top: 0;
		}
		.stopwatch-instruction {
			display: none;
		}
		.timer-instruction {
			display: none;
		}
		.weather-instruction {
			display: none;
		}

		.app-title-box {
			width: 100%;
			height: 25%;
			z-index: 1;
			color: white;
			background-color: #2d0d30;
			display: flex;
			// display: none;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			// animation: opacity-off 1s forwards;
			.app-title {
				font-size: 2.3rem;
				// margin-top: 1rem;
				margin-bottom: 0.5rem;
			}
			.choose {
				font-size: 1.3rem;
				margin-bottom: 2rem;
			}
			.double-arrow {
				width: 50px;
				cursor: auto;
			}
		}

		.card-wrapper {
			position: absolute;
			width: 100%;
			height: 85%;
			display: flex;
			justify-content: center;
			// align-items: center;
			background-color: #f8f0ee;
			// background-color: red;
			z-index: 0;
			bottom: 4rem;

			// .app-title-box {
			// 	position: relative;
			// 	border-radius: 20px;
			// 	background-color: #fafafa;

			// 	// .app-title {
			// 	// 	font-size: 3.5rem;
			// 	// 	font-weight: lighter;
			// 	// 	letter-spacing: 1px;

			// 	// 	.time-word {
			// 	// 		position: relative;
			// 	// 		.color-dot,
			// 	// 		.white-dot {
			// 	// 			position: absolute;
			// 	// 			width: 5px;
			// 	// 			height: 5px;

			// 	// 			border-radius: 50%;
			// 	// 			top: 33%;
			// 	// 			right: 55%;
			// 	// 			z-index: 1;
			// 	// 		}
			// 	// 		.color-dot {
			// 	// 			animation: red-dot 5s infinite;
			// 	// 		}
			// 	// 		.white-dot {
			// 	// 			background-color: #fff;
			// 	// 			z-index: 0;
			// 	// 		}
			// 	// 	}
			// 	// }
			// }

			.card {
				position: relative;
				display: flex;
				align-items: center;
				flex-direction: column;
				margin-top: 5rem;

				width: 90%;
				height: 70%;
				border-radius: 16px;
				box-shadow: 0 0 8px $shadow-color;

				// overflow: hidden;

				.stopwatch-page {
					position: absolute;
					display: flex;
					align-items: center;
					flex-direction: column;
					width: 100%;
					height: 100%;
					backface-visibility: hidden;
				}
				.stopwatch-history-page {
					position: absolute;
					display: flex;
					align-items: center;
					flex-direction: column;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					font-size: 1.8rem;
					border-radius: 16px;
					background-image: url(../assets/img/violet.jpg);
					background-position: center;
					background-size: cover;
					transform: rotateY(180deg);

					.history-of-times {
						margin-top: 3.5rem;
						p {
							line-height: 2.8rem;
						}
					}
					.stopwatch-close-history {
						position: absolute;
						bottom: 3rem;
						@include stopwatch-button;
					}
					.stopwatch-close-history:hover {
						background-color: rgba(252, 185, 0, 1);
					}
				}

				.title-box {
					position: relative;
					width: 100%;
					height: 25%;
					// background-color: red;
					margin-top: 1.6rem;

					.title {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: #fafafa;
						font-size: 3rem;
						letter-spacing: 0.1rem;
					}
				}

				.card-box {
					// background-color: red;
					position: relative;
					display: flex;
					align-items: center;
					flex-direction: column;
					margin-top: 3rem;
					width: 100%;
					height: 100%;

					z-index: 1;

					.stopwatch-clock {
						margin-top: 1.7rem;
						font-size: 4rem;
					}
					.show-last-time {
						font-size: 1.8rem;
					}
					.timer-btn-box {
						bottom: 1.5rem;
					}
					.stopwatch-btn-box {
						position: absolute;
						display: flex;
						justify-content: space-around;
						align-items: center;
						width: 100%;
						height: 40%;
						bottom: 2rem;
						flex-wrap: wrap;

						.stopwatch-btn {
							margin: 0.5rem 0.2rem;
							padding: 0.5rem 1.1rem;
						}
						.stopwatch-history {
							margin-top: 1rem;
							margin-bottom: 2rem;
							// border: 3px solid rgb(255, 149, 0);
							// background-color: white;
							// font-size: 2rem;
							// color: black;
							@include stopwatch-button;
						}

						.stopwatch-btn {
							border-radius: 50%;
							cursor: pointer;
							width: 40px;
							height: 40px;
							transition: background-color 0.3s;
							// border: 3px solid rgb(255, 149, 0);
							// background-color: white;
							// font-size: 2rem;
							// color: black;
							@include stopwatch-button;
						}
						.stopwatch-btn:hover,
						.stopwatch-history:hover {
							background-color: rgba(252, 185, 0, 1);
						}
					}
					.timer-btn-box {
						position: absolute;
						text-align: center;
						width: 100%;
						bottom: 1rem;
						// .timer-edit {

						// }

						.timer-edit:hover {
							background-color: rgba(252, 185, 0, 1);
						}
					}
				}

				.timer-content {
					width: 100%;
					.event-name {
						width: 90%;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;
						font-size: 2rem;
						margin-top: 1.5rem;
						font-weight: lighter;
						text-align: center;
					}
					.timer-box {
						width: 95%;
						display: flex;
						justify-content: space-between;
						font-size: 1.6rem;
						margin-top: 1rem;
						padding: 0.4rem;

						.small-box {
							padding: 0.2rem 0.3rem;
							width: 22%;
							border: 1px solid rgba(0, 0, 0, 0.3);
							text-align: center;
							border-radius: 5px;
							.count-number {
								font-size: 2rem;
								font-weight: bold;
							}
							hr {
								width: 80%;
								margin: 0.5rem auto;
							}
						}
					}
				}
			}
			.timer {
				background-image: url(../assets/img/timer.jpg);
				background-position: center;
				background-size: cover;
				animation: var(--card-anime-timer);
				// animation: card-hiding 2s infinite;
				.timer-btn-box {
					.timer-edit {
						margin-bottom: 2rem;
					}
				}
			}
			.stopwatch {
				background-image: url(../assets/img/violet.jpg);
				background-position: center;
				background-size: cover;
				transform-style: preserve-3d;
				perspective: 300px;
				transition: 0.8s;
				animation: var(--card-anime-stopwatch);

				.clock-icon {
					position: absolute;
					width: 22%;
					left: -7%;
					top: -6%;
				}
				.dot1,
				.dot2 {
					position: absolute;
				}
				.dot1 {
					width: 5%;
					left: 10%;
					top: 9%;
				}
				.dot2 {
					width: 8%;
					top: -3%;
					left: 13%;
				}
			}

			.weather {
				background-image: url(../assets/img/gradient\ weather.jpg);
				background-position: center;
				background-size: cover;

				// .yellow-dot{
				// 	position: absolute;
				// 	width: 35px;
				// 	top: 40px;
				// 	left: -17px;
				// }

				.weather-content {
					display: flex;
					align-items: center;

					.city {
						font-size: 2rem;
						font-weight: bolder;
						margin-bottom: 1rem;
						margin-top: 7px;
					}

					.weather-box {
						display: flex;
						width: 80%;
						font-size: 1.8rem;
						margin-top: 5px;

						.weather-headings,
						.weather-info {
							width: 50%;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							line-height: 2.5rem;
						}
					}
					.weather-icon {
						margin-top: 3.5rem;
						width: 30%;
					}
				}
			}
			.weather-popup {
				display: none;
				justify-content: space-around;
				align-items: center;
				flex-direction: column;
				position: relative;
				margin-top: 5rem;
				width: 90%;
				height: 70%;
				border-radius: 16px;
				background-image: url(../assets/img/gradient\ weather.jpg);
				background-position: center;
				background-size: cover;
				background-color: red;
				animation: var(--card-anime-weather);

				.popup-weather-header {
					margin-top: 2rem;
					font-size: 2rem;
				}
				.weather-arrow {
					width: 4rem;
					margin-top: 3rem;
					// animation: bounce-arrow 2s infinite;
				}
				.input-city-name {
					padding: 0.5rem;
					font-family: 'Raleway', sans-serif;
					border: none;
					border-bottom: 2px solid #fdc82f;
					background: none;
					width: 70%;
					text-align: center;
					font-size: 2rem;
				}
				.input-city-name:focus {
					outline: none;
					border: 2px solid #fdc82f;
					border-radius: 8px;
				}
				.weather-send-btn {
					font-family: 'Raleway', sans-serif;
				}
				.weather-send-btn:hover {
					background-color: rgba(252, 185, 0, 1);
				}
				.error-weather-popup {
					font-size: 1.6rem;
					height: 1.6rem;
				}
			}
			.hide-card {
				display: none;
			}

			.button-box {
				position: absolute;
				display: flex;
				// background-color: red;
				height: var(--1bb-height);
				flex-direction: var(--1bb-flex-direction);
				justify-content: var(--1bb-justify-content);
				margin-top: var(--1bb-margin-top);

				.show-card-bth {
					position: relative;
					display: flex;
					align-items: center;
					margin: 0.5rem;
					transition: all 0.2s ease;
					text-decoration: none;
					height: 30px;
					padding: var(--1scb-padding);
					width: var(--1scb-width);

					.btn-name {
						position: relative;
						color: black;
						font-weight: bold;
						font-size: var(--1span-font-size);
						animation: var(--animation-left);
					}
				}

				.show-card-bth::before {
					content: '';
					position: absolute;
					display: block;
					border-radius: 28px;
					background-color: rgba(252, 185, 0, 0.5);
					z-index: -1;
					transition: all 0.3s ease;
					width: var(--1before-width);
					height: var(--1before-height);
					top: var(--1before-top);
					left: var(--1before-left);
				}
				.show-card-bth:nth-child(1)::before {
					animation: var(--animation-right);
				}
				.show-card-bth:nth-child(2)::before {
					animation: var(--animation-right);
				}
				.show-card-bth:nth-child(3)::before {
					animation: var(--animation-right);
				}

				.show-card-bth:hover::before {
					width: 100%;
					background-color: rgba(252, 185, 0, 1);
				}
				.show-card-bth:active {
					transform: scale(0.96);
				}
			}

			.big-button {
				width: 60%;
				font-size: 1.8rem;
				padding: 0.4rem 0;
				letter-spacing: 2px;
				font-family: 'Raleway', sans-serif;
				transition: color 0.3s;
				border-radius: 5px;
				border: 2px solid transparent;
				font-weight: bold;
				cursor: pointer;
				background-color: white;
				transition: background-color 0.3s;
			}
			.big-button:hover {
				background-color: rgba(252, 185, 0, 1);
			}
		}
		.timer-popup {
			position: absolute;
			width: 100%;
			height: 100%;
			display: none;
			// display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			z-index: 10;
			background-color: rgba(#2d0d30, $alpha: 0.9);
			border-radius: 20px;
			color: rgb(249, 246, 246);
			.popup-timer-header {
				margin: 2rem;
				font-size: 2.2rem;
				text-shadow: 0 0 5px rgb(0, 0, 0);
				letter-spacing: 1px;
				text-align: center;
			}

			.popup-input-event-name {
				width: 70%;
				text-align: center;
				border: none;
				font-size: 1.8rem;
				margin-bottom: 2rem;
			}

			input {
				padding: 0.5rem;
				border-radius: 5px;
				font-family: 'Raleway', sans-serif;
			}
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}

			.popup-date-box {
				width: 60%;
				display: flex;
				align-items: center;
				flex-direction: column;
				.label-box {
					.popup-label {
						font-size: 1.6rem;
					}
				}
				.label-box,
				.input-box {
					width: 100%;
					display: flex;
					justify-content: space-around;

					input {
						width: 30%;
						text-align: center;
						border: none;
						font-size: 1.8rem;
						margin: 0.5rem;
					}
				}
			}
			.timer-save {
				margin-top: 40px;
				width: 30%;
				@include timer-button;
			}
			.timer-save:hover {
				background-color: rgba(252, 185, 0, 1);
			}

			.error {
				margin-top: 2rem;
				letter-spacing: 0.5px;
				font-size: 2rem;
			}
		}
		.show-timer-popup {
			display: flex;
		}

		.time-date-box {
			position: absolute;
			width: 100%;
			height: 5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 0;
			font-size: 1.6rem;
			background-color: #2d0d30;
			// background-color: green;
			color: #fff;

			text-shadow: 0 0 5px rgb(0, 0, 0);
			.clock-name,
			.date-name {
				margin-right: 1rem;
			}
			.time {
				margin-right: 3.5rem;
			}
		}
	}
}

@media (min-width: 375px) {
}

// @keyframes red-dot {
// 	0% {
// 		opacity: 0;
// 	}
// 	17% {
// 		opacity: 1;
// 		background-color: $weather-color;
// 	}
// 	33% {
// 		opacity: 0;
// 	}
// 	50% {
// 		opacity: 1;
// 		background-color: $timer-color;
// 	}
// 	66% {
// 		opacity: 0;
// 	}
// 	83% {
// 		opacity: 1;
// 		background-color: $stopwatch-color;
// 	}
// 	100% {
// 		opacity: 0;
// 	}
// }

@keyframes bounce-arrow {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-8px);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes small-bounce-arrow {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-5px);
	}
	50% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-2px);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes resize-before {
	0% {
		scale: 1.1;
	}
	50% {
		scale: 1;
	}

	100% {
		scale: 1.1;
	}
}

@keyframes shift-right {
	from {
		left: 0;
	}
	to {
		left: 500px;
	}
}
@keyframes shift-left {
	from {
		left: 0;
	}
	to {
		left: -500px;
	}
}

// @keyframes card-showing {
// 	0% {
// 		left: -700px;
// 	}

// 	100% {
// 		left: 0;
// 	}
// }
// @keyframes card-hiding {
// 	0% {
// 		right: 0;
// 	}

// 	100% {
// 		right: -700px;
// 	}
// }

@keyframes openInstructionLineAnime {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes closeInstructionLineAnime {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(200%);
	}
}
