@import './colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: 62.5%;

	// before
	--1before-width: 42px;
	--1before-height: 42px;
	--1before-top: 16%;
	--1before-left: 0;

	--animation-left: none;

	--animation-right: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	color: black;
	background-color: #f4f4f4;
	height: 100vh;
	// overflow: hidden;
	color: #fafafa;
	.wrapper {
		position: relative;
		width: 100%;
		height: 98%;
		display: flex;
		justify-content: center;
		background-image: url(../assets/img/background.jpg);
		background-position: center;
		background-size: cover;
		border-radius: 20px;
		// border: 0.5rem solid black;
		box-shadow: 0 0 10px black;
		overflow: hidden;
		margin: 0.5rem;
		.mini-font {
			font-size: 1.6;
		}
		.instruction {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.9);
			z-index: 10;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			top: -100%;
			// top: 0;
			padding: 4rem;
			text-align: center;
			font-size: 1.6rem;
			transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

			.roll-up {
				padding: 0.5rem;
				width: 40%;
				margin-top: 5rem;
				border-radius: 8px;
				font-size: 1.4rem;
				font-weight: bold;
				letter-spacing: 1px;
				transition: background-color 0.3s;
				cursor: pointer;
			}
			.roll-up:hover {
				background-color: #fdc82f;
			}

			p {
				line-height: 3rem;
			}
			.open-instruction-line-anime {
				animation: openInstructionLineAnime 1s none;
			}
			.close-instruction-line-anime {
				animation: closeInstructionLineAnime 1s none;
			}
			.bookmark {
				position: absolute;
				width: 45%;
				height: 4rem;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				line-height: 2rem;
				background-color: rgba(0, 0, 0, 0.9);
				bottom: -3.4rem;
				z-index: 10;
				border-radius: 8px;
				cursor: pointer;
				.bookmark-name {
					font-size: 1.6rem;
				}
				img {
					width: 4rem;
					margin-bottom: -0.6rem;
					margin-left: auto;
					margin-right: auto;
					animation: bounce-arrow 2s infinite;
				}
			}
			.stopwatch-info-header,
			.timer-info-header {
				margin-bottom: 5rem;
				letter-spacing: 0.1rem;
			}
			span {
				font-weight: bold;
			}
			.stopwatch-info {
				margin-top: 5rem;
			}
			.timer-button-info {
				margin-top: 3rem;
			}
			.weather-instruction-header {
				margin-bottom: 5rem;
			}
		}
		.active {
			top: 0;
		}
		.stopwatch-instruction,
		.timer-instruction,
		.weather-instruction {
			display: none;
		}

		.app-title-box {
			width: 100%;
			height: 25%;
			z-index: 1;
			color: black;
			// background: none;
			display: flex;
			// display: none;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			// box-shadow: 0 0 10px black;
			// animation: opacity-off 1s forwards;
			.app-title {
				font-size: 2.3rem;
				// margin-top: 1rem;
				margin-bottom: 0.5rem;
			}
			.choose {
				font-size: 1.3rem;
				margin-bottom: 2rem;
			}
			.double-arrow {
				width: 50px;
				cursor: auto;
			}
		}

		.card-wrapper {
			position: absolute;
			width: 100%;
			height: 85%;
			display: flex;
			justify-content: center;

			z-index: 0;
			bottom: 4rem;

			.card {
				position: relative;
				display: flex;
				align-items: center;
				flex-direction: column;
				margin-top: 5rem;
				width: 90%;
				height: 70%;
				top: -800px;
				border-radius: 16px;
				// box-shadow: 0 0 8px #a0a0a0;

				.stopwatch-page {
					position: absolute;
					display: flex;
					align-items: center;
					flex-direction: column;
					width: 100%;
					height: 100%;
					background-image: $gradient, url(../assets/img/time.jpg);
					background-position: center;
					background-size: cover;
					border-radius: 16px;
					transition: 1s;
				}

				.stopwatch-history-page {
					position: absolute;
					display: flex;
					align-items: center;
					flex-direction: column;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					font-size: 1.8rem;
					border-radius: 16px;
					background-image: $gradient, url(../assets/img/time.jpg);
					background-position: center;
					background-size: cover;
					transition: 1s;

					.history-of-times {
						margin-top: 3.5rem;
						p {
							line-height: 2.8rem;
						}
					}
					.stopwatch-close-history {
						position: absolute;
						bottom: 3rem;
						border: 3px solid transparent;
						background-color: white;
						font-size: 2rem;
						color: black;
						box-shadow: 0 0 8px #2d0d30;
					}
					.stopwatch-close-history:hover {
						background-color: rgba(252, 185, 0, 1);
					}
				}

				.title-box {
					position: relative;
					width: 100%;
					height: 25%;

					margin-top: 1.6rem;

					.title {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: #fafafa;
						font-family: 'Dancing Script', cursive;
						font-size: 4rem;
						letter-spacing: 0.1rem;
					}
				}

				.card-box {
					// background-color: red;
					position: relative;
					display: flex;
					align-items: center;
					flex-direction: column;
					margin-top: 3rem;
					width: 100%;
					height: 100%;

					z-index: 1;

					.stopwatch-clock {
						margin-top: 1.7rem;
						font-size: 4.5rem;
					}
					.show-last-time {
						font-size: 1.8rem;
					}
					.timer-btn-box {
						bottom: 1.5rem;
					}
					.stopwatch-btn-box {
						position: absolute;
						display: flex;
						justify-content: space-around;
						align-items: center;
						width: 100%;
						height: 40%;
						bottom: 2rem;
						flex-wrap: wrap;

						.stopwatch-btn {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 40px;
							height: 40px;
							margin: 0.5rem 0.2rem;
							padding: 0.5rem 1.1rem;
							font-size: 2rem;
							border-radius: 50%;
							border: 3px solid transparent;
							background-color: white;
							color: black;
							box-shadow: 0 0 8px #2d0d30;
							transition: background-color 0.3s;
							cursor: pointer;
						}
						.stopwatch-btn:hover,
						.stopwatch-history:hover {
							background-color: rgba(252, 185, 0, 1);
						}
						.stopwatch-history {
							margin-top: 1rem;
							margin-bottom: 2rem;
							border: 3px solid transparent;
							background-color: white;
							font-size: 2rem;
							color: black;
							box-shadow: 0 0 8px #2d0d30;
						}
					}
					.timer-btn-box {
						position: absolute;
						text-align: center;
						width: 100%;
						bottom: 1rem;

						.timer-edit:hover {
							background-color: rgba(252, 185, 0, 1);
						}
					}
				}

				.timer-content {
					width: 100%;
					.event-name {
						width: 90%;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;
						font-size: 2rem;
						margin-top: 1.5rem;
						font-weight: lighter;
						text-align: center;
					}
					.timer-box {
						width: 95%;
						display: flex;
						justify-content: space-between;
						font-size: 1.6rem;
						margin-top: 1rem;
						padding: 0.4rem;

						.small-box {
							padding: 0.2rem 0.3rem;
							width: 22%;
							border: 1px solid rgba(255, 255, 255, 0.3);
							text-align: center;
							border-radius: 5px;
							.count-number {
								font-size: 2rem;
								font-weight: bold;
							}
							hr {
								width: 80%;
								margin: 0.5rem auto;
							}
						}
					}
				}
			}
			.timer {
				background-image: $gradient, url(../assets/img/calendar.jpg);
				background-position: center;
				background-size: cover;
				transition: top 1.5s;

				.timer-btn-box {
					.timer-edit {
						margin-bottom: 3rem;
					}
				}
			}
			.stopwatch {
				perspective: 1000px;
				z-index: -1;
				transition: top 1.5s;
			}

			.weather {
				background-image: $gradient, url(../assets/img/weather.jpg);
				background-position: center;
				background-size: cover;
				top: 0;

				.weather-content {
					display: flex;
					align-items: center;

					.city {
						font-size: 2rem;
						font-weight: bolder;
						margin-bottom: 1rem;
						margin-top: 7px;
					}

					.weather-box {
						display: flex;
						width: 80%;
						font-size: 1.8rem;
						margin-top: 5px;

						.weather-headings,
						.weather-info {
							width: 50%;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							line-height: 2.5rem;
						}
					}
					.weather-icon {
						margin-top: 3.5rem;
						width: 30%;
					}
				}
			}
			.weather-popup {
				display: none;
				justify-content: space-around;
				align-items: center;
				flex-direction: column;
				position: relative;
				margin-top: 5rem;
				width: 90%;
				height: 70%;
				top: -800px;
				border-radius: 16px;
				background-image: $gradient, url(../assets/img/weather.jpg);
				background-position: center;
				background-size: cover;
				transition: top 1.5s;

				.popup-weather-header {
					margin-top: 2rem;
					font-size: 2rem;
				}
				.weather-arrow {
					width: 4rem;
					margin-top: 3rem;
				}
				.input-city-name {
					width: 70%;
					font-size: 2rem;
					padding: 0.5rem;
					font-family: 'Raleway', sans-serif;
					border: none;
					border-bottom: 2px solid #fdc82f;
					background: none;
					text-align: center;
				}
				.input-city-name::placeholder {
					color: white;
				}
				.input-city-name:focus {
					outline: none;
					border: 2px solid #fdc82f;
					border-radius: 8px;
				}
				.weather-send-btn {
					font-family: 'Raleway', sans-serif;
				}
				.weather-send-btn:hover {
					background-color: rgba(252, 185, 0, 1);
				}
			}
			.animation-card {
				top: 0;
			}
			.hide-card {
				display: none;
			}

			.button-box {
				position: absolute;
				display: flex;
				height: 70%;
				flex-direction: column;
				justify-content: space-around;
				// background-color: red;
				margin-top: 11rem;

				.show-card-btn {
					position: relative;
					display: flex;
					align-items: center;
					margin: 0.5rem;
					// transition: all 0.2s ease;
					text-decoration: none;
					height: 30px;
					padding: 3rem 2rem;
					width: fit-content;
					transition: 1s cubic-bezier(0.65, 0.05, 0.36, 1);

					.btn-name {
						position: relative;
						color: black;
						font-weight: bold;
						font-size: 2rem;
						animation: var(--animation-left);
					}
					.btn-name-done {
						font-size: 1.6rem;
					}
				}
				.show-card-btn-done {
					padding: 1.5rem 1rem;
					width: auto;
					justify-content: center;
					margin: 0.5rem;
				}
				.active-btn-animation {
					animation: showCardBtnAnimation 0.5 ease;
				}

				.show-card-btn::before {
					content: '';
					position: absolute;
					display: block;
					border-radius: 28px;
					background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.75), rgba(96, 96, 96, 0.75));
					box-shadow: 0 0 6px black;
					z-index: -1;
					transition: all 0.3s ease;
					width: var(--1before-width);
					height: var(--1before-height);
					top: var(--1before-top);
					left: var(--1before-left);
				}
				.show-card-btn:nth-child(1)::before {
					animation: var(--animation-right);
				}
				.show-card-btn:nth-child(2)::before {
					animation: var(--animation-right);
				}
				.show-card-btn:nth-child(3)::before {
					animation: var(--animation-right);
				}

				.show-card-btn:hover::before {
					width: 100%;
					// background-color: black;
				}

				.show-card-btn:active {
					transform: scale(0.96);
				}
			}
			.button-box-done {
				height: 10%;
				flex-direction: row;
				justify-content: center;
				margin-top: 0;
			}

			.big-button {
				width: 60%;
				font-size: 1.8rem;
				padding: 0.4rem 0;
				letter-spacing: 2px;
				font-family: 'Raleway', sans-serif;

				border-radius: 5px;
				border: 2px solid transparent;
				font-weight: bold;
				cursor: pointer;
				background-color: white;
				transition: background-color 0.3s, color 0.3s;
			}
			.big-button:hover {
				background-color: rgba(252, 185, 0, 1);
			}
		}
		.timer-popup {
			position: absolute;
			width: 100%;
			height: 100%;
			display: none;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			z-index: 10;
			background-color: rgba(0, 0, 0, 0.8);

			color: rgb(249, 246, 246);
			.popup-timer-header {
				margin: 2rem;
				font-size: 2.2rem;
				text-shadow: 0 0 5px rgb(0, 0, 0);
				letter-spacing: 1px;
				text-align: center;
			}

			.popup-input-event-name {
				width: 70%;
				text-align: center;
				border: none;
				font-size: 1.8rem;
				margin-bottom: 2rem;
			}

			input {
				padding: 0.5rem;
				border-radius: 5px;
				font-family: 'Raleway', sans-serif;
			}
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}

			.popup-date-box {
				width: 60%;
				display: flex;
				align-items: center;
				flex-direction: column;

				.label-box,
				.input-box {
					width: 100%;
					display: flex;
					justify-content: space-around;

					input {
						width: 30%;
						text-align: center;
						border: none;
						font-size: 1.8rem;
						margin: 0.5rem;
					}
				}
			}
			.timer-save,
			.timer-close {
				margin-top: 5rem;
				width: 30%;
				font-size: 2rem;
				font-family: 'Raleway', sans-serif;
				padding: 5px 12px;
				box-shadow: 0 0 4px black;
				border-radius: 5px;
				border: none;
				cursor: pointer;
				transition: background-color 0.3s;
			}

			.timer-save:hover {
				background-color: rgba(252, 185, 0, 1);
			}

			.error {
				margin-top: 2rem;
				letter-spacing: 0.5px;
				font-size: 2rem;
			}
		}
		.show-timer-popup {
			display: flex;
		}

		.time-date-box {
			position: absolute;
			width: 100%;
			height: 5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 0;
			font-size: 1.5rem;
			font-weight: bold;
			// background-color: #2d0d30;
			color: black;

			.clock-name,
			.date-name {
				margin-right: 1rem;
			}
			.time {
				margin-right: 2rem;
			}
		}
	}
}

@media (min-width: 375px) {
	body {
		.wrapper {
			.card-wrapper {
				.button-box {
					margin-top: 12rem;
				}
				.card,
				.weather-popup {
					margin-top: 7em;
				}
			}
		}
	}
}

@media (min-width: 414px) {
	body {
		.wrapper {
			.app-title-box {
				.app-title {
					font-size: 2.6rem;
				}
				.choose {
					font-size: 1.6rem;
				}
				.double-arrow {
					width: 70px;
				}
			}
			.instruction {
				font-size: 1.8rem;
				.roll-up {
					padding: 1.2rem;
					width: 40%;
					font-size: 2rem;
				}
				.info-header {
					font-size: 2.2rem;
				}
				.bookmark {
					height: 7rem;
					bottom: -5rem;
					.bookmark-name {
						font-size: 2.2rem;
						margin-bottom: 1rem;
					}
					img {
						margin-bottom: 0.5rem;
					}
				}
			}
			.card-wrapper {
				.card {
					margin-top: 7rem;
					.stopwatch-history-page {
						font-size: 2.2rem;
					}
					.title-box {
						.title {
							font-size: 3.5rem;
						}
					}
					.card-box {
						.stopwatch-clock {
							font-size: 6rem;
						}
						.show-last-time {
							font-size: 2.2rem;
						}
						.stopwatch-btn-box {
							.stopwatch-btn {
								padding: 2rem;
								i {
									font-size: 2.2rem;
								}
							}
						}
					}
					.timer-content {
						.event-name {
							font-size: 2.2rem;
						}
						.timer-box {
							margin-top: 4rem;
							.small-box {
								.count-number {
									font-size: 2.4rem;
								}
							}
						}
					}
				}
				.big-button {
					font-size: 2.2rem;
					padding: 0.5rem 0;
				}
				.weather-popup {
					margin-top: 7rem;
					.popup-weather-header {
						margin-top: 3rem;
						font-size: 2.5rem;
					}
					.input-city-name {
						font-size: 3rem;
					}
					.error-weather-popup {
						font-size: 2rem;
					}
				}
				.weather {
					.weather-content {
						.city {
							font-size: 2.4rem;
						}
						.weather-box {
							font-size: 2.2rem;
							margin-top: 2rem;
							.weather-headings,
							.weather-info {
								line-height: 3rem;
							}
						}
						.weather-icon {
							margin-top: 4.5rem;
							width: 40%;
						}
					}
				}
				.button-box {
					margin-top: 15rem;
					.show-card-btn {
						.btn-name {
							font-size: 3rem;
						}
						.btn-name-done {
							font-size: 2.2rem;
						}
					}
				}
			}
			.timer-popup {
				.popup-input-event-name {
					font-size: 2.2rem;
					font-weight: bold;
				}
				.popup-date-box {
					.label-box {
						.popup-label {
							font-size: 2rem;
						}
					}
					.input-box {
						input {
							font-size: 2.2rem;
							font-weight: bold;
						}
					}
				}
				.timer-save,
				.timer-close {
					margin-top: 6rem;
					font-size: 2.2rem;
				}
				.error {
					margin-top: 3rem;
					font-size: 2.5rem;
				}
			}
			.time-date-box {
				font-size: 2rem;
			}
		}
	}
}
@media (min-width: 530px) {
	body {
		.wrapper {
			max-width: 500px;
			height: 700px;

			// border: 10px solid #2d0d30;

			.card-wrapper {
				.card {
					width: 70%;
					// margin-top: 10rem;

					.stopwatch-history-page {
						.stopwatch-close-history {
							bottom: 6rem;
						}
						.history-of-times {
							font-size: 2.5rem;
							margin-top: 10rem;
							p {
								margin-bottom: 2rem;
							}
						}
					}
				}

				.weather-popup {
					width: 70%;
					// margin-top: 10rem;
				}

				.button-box {
					margin-top: 28%;
				}
				.timer .timer-btn-box .timer-edit {
					margin-bottom: 10rem;
				}
				.weather {
					.weather-content {
						.weather-box {
							margin-top: 4rem;
						}
						.weather-icon {
							margin-top: 4rem;
							width: 40%;
						}
					}
				}
			}

			.time-date-box {
				font-size: 2.5rem;
			}
		}
	}
}
@media (min-width: 568px) and (orientation: landscape) {
	body {
		height: auto;
		.wrapper {
			width: 90%;
			height: 700px;
			.card-wrapper {
				.button-box {
					margin-top: 12rem;
				}
				.card,
				.weather-popup {
					margin-top: 8rem;
				}
				.button-box-done {
					align-items: flex-end;
					// background-color: red;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	body {
		height: 100vh;
	}
}

@keyframes bounce-arrow {
	0% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-5px);
	}
	50% {
		transform: translateY(0);
	}
	60% {
		transform: translateY(-2px);
	}
	80% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes shift-right {
	0% {
		left: 0;
	}
	40% {
		left: 650px;
	}
	60% {
		left: 650px;
	}
	70% {
		left: 650px;
	}
	100% {
		left: 0;
	}
}
@keyframes shift-left {
	0% {
		left: 0;
	}
	40% {
		left: -650px;
	}
	60% {
		left: -650px;
	}
	70% {
		left: -650px;
	}
	100% {
		left: 0;
	}
}

@keyframes showCard {
	0% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0);
	}
}
