@import './colors';
@import './mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	color: $font-color;
	background-color: #f4f4f4;
	height: 100vh;
	overflow: hidden;
	color: #fafafa;
	.wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #2d0d30;
		// border-radius: 20px;
		display: flex;
		justify-content: center;

		// box-shadow: inset 0 0 12px $shadow-color;

		// .instruction {
		// 	position: relative;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: red;
		// 	z-index: 10;
		// 	top: -50%;
		// 	.bookmark {
		// 		position: absolute;
		// 		width: 45%;
		// 		height: 4rem;
		// 		display: flex;
		// 		justify-content: center;
		// 		align-items: flex-end;
		// 		background-color: green;
		// 		bottom: -2.6rem;
		// 		z-index: 10;
		// 		left: 50%;
		// 		transform: translate(-50%);
		// 		border-radius: 5px;
		// 		padding: .4rem;
		// 		.bookmark-name {
		// 			font-size: 1.6rem;
		// 		}
		// 	}
		// }

		.card-wrapper {
			position: absolute;
			width: 100%;
			height: 95%;
			display: flex;
			justify-content: center;
			background-color: #fff;
			// align-items: center;
			// border-radius: 20px;
			// box-shadow: 0 0 12px $shadow-color;
			z-index: 0;

			// .app-title-box {
			// 	position: relative;
			// 	border-radius: 20px;
			// 	background-color: #fafafa;

			// 	// .app-title {
			// 	// 	font-size: 3.5rem;
			// 	// 	font-weight: lighter;
			// 	// 	letter-spacing: 1px;

			// 	// 	.time-word {
			// 	// 		position: relative;
			// 	// 		.color-dot,
			// 	// 		.white-dot {
			// 	// 			position: absolute;
			// 	// 			width: 5px;
			// 	// 			height: 5px;

			// 	// 			border-radius: 50%;
			// 	// 			top: 33%;
			// 	// 			right: 55%;
			// 	// 			z-index: 1;
			// 	// 		}
			// 	// 		.color-dot {
			// 	// 			animation: red-dot 5s infinite;
			// 	// 		}
			// 	// 		.white-dot {
			// 	// 			background-color: #fff;
			// 	// 			z-index: 0;
			// 	// 		}
			// 	// 	}
			// 	// }
			// }

			.card {
				position: relative;
				display: flex;
				align-items: center;
				flex-direction: column;
				margin-top: 3rem;
				width: 90%;
				height: 70%;

				border-radius: 16px;

				overflow: hidden;

				.stopwatch-page {
					position: absolute;
					display: flex;
					align-items: center;
					flex-direction: column;
					width: 100%;
					height: 100%;
					backface-visibility: hidden;
				}
				.stopwatch-history-page {
					position: absolute;
					display: flex;
					align-items: center;
					flex-direction: column;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					font-size: 1.8rem;
					border-radius: 16px;
					background-image: url(../assets/img/violet.jpg);
					background-position: center;
					background-size: cover;
					transform: rotateY(180deg);

					.history-of-times {
						margin-top: 3.5rem;
					}
					.stopwatch-close-history {
						border-radius: 7px;
						border: 2px solid transparent;
						cursor: pointer;
						box-shadow: 0 0 4px $shadow-color;
						background-color: #fafafa;
						transition: background-color 0.3s;
						padding: 0.8rem 1.5rem;
						font-size: 1.6rem;
						letter-spacing: 2px;
						font-family: 'Caveat', cursive;
						transition: color 0.3s;
						margin-top: 0.5rem;
						position: absolute;
						bottom: 2.5rem;
					}
					.stopwatch-close-history:hover {
						background-color: #dcf8ef;
						box-shadow: 0 0 4px #fafafa;
					}
				}

				.title-box {
					position: relative;
					width: 100%;
					height: 25%;

					.title {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: #fafafa;
						font-size: 3rem;
						letter-spacing: 0.1rem;
					}
				}

				.card-box {
					// background-color: red;
					position: relative;
					display: flex;
					align-items: center;
					flex-direction: column;
					margin-top: 3rem;
					width: 100%;
					height: 100%;

					z-index: 1;

					.stopwatch-clock {
						margin-top: 1.7rem;
						font-size: 4rem;
					}
					.show-last-time {
						font-size: 1.8rem;
					}
					.timer-btn-box {
						bottom: 1.5rem;
					}
					.stopwatch-btn-box {
						position: absolute;
						display: flex;
						justify-content: space-around;
						align-items: center;
						width: 100%;
						height: 40%;
						bottom: 1rem;
						flex-wrap: wrap;
						.stopwatch-btn {
							margin: 0.5rem 0.2rem;
							padding: 0.5rem 1.1rem;
						}
						.stopwatch-history {
							margin-top: 0.8rem;
						}
						.stopwatch-history,
						.stopwatch-btn {
							border-radius: 5px;
							border: 2px solid transparent;
							cursor: pointer;
							box-shadow: 0 0 4px $shadow-color;
							background-color: transparent;
							transition: background-color 0.3s;
							box-shadow: 0 0 4px $stopwatch-color;
						}
						.stopwatch-btn:hover,
						.stopwatch-history:hover {
							background-color: $stopwatch-color;
						}
						.stopwatch-btn:hover .fa-solid {
							color: white;
						}
						.stopwatch-history:hover {
							color: white;
						}
					}
					.timer-btn-box {
						position: absolute;
						text-align: center;
						width: 100%;
						bottom: 1rem;
						.timer-edit {
							border-radius: 5px;
							border: 2px solid transparent;
							cursor: pointer;
							// box-shadow: 0 0 4px $shadow-color;
							background-color: transparent;
							transition: background-color 0.3s;
							box-shadow: 0 0 4px $timer-color;
						}

						.timer-edit:hover {
							background-color: $timer-color;
						}
					}
					.big-button {
						width: 60%;
						font-size: 1.8rem;
						margin-top: 0.5rem;
						padding: 0.4rem 0;
						letter-spacing: 2px;
						font-family: 'Caveat', cursive;
						transition: color 0.3s;
					}
				}

				.timer-content {
					width: 100%;
					.event-name {
						width: 90%;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;
						font-size: 2rem;
						margin-top: 1.5rem;
						font-weight: lighter;
						text-align: center;
					}
					.timer-box {
						width: 100%;
						display: flex;
						justify-content: space-between;
						font-size: 1.6rem;
						margin-top: 1rem;
						padding: 0.4rem;

						.small-box {
							padding: 0.2rem 0.3rem;
							width: 23%;
							border: 1px solid rgba(0, 0, 0, 0.3);
							text-align: center;
							border-radius: 5px;
							.count-number {
								font-size: 2rem;
								font-weight: bold;
							}
							hr {
								width: 80%;
								margin: 0 auto;
							}
						}
					}
				}
			}
			.timer {
				background-image: url(../assets/img/timer.jpg);
				background-position: center;
				background-size: cover;
			}
			.stopwatch {
				background-image: url(../assets/img/violet.jpg);
				background-position: center;
				background-size: cover;
				transform-style: preserve-3d;
				perspective: 300px;
				transition: 0.8s;
			}

			.hide-card {
				display: none;
			}
			.weather {
				background-image: url(../assets/img/gradient\ weather.jpg);
				background-position: center;
				background-size: cover;
				// visibility: hidden;
				.weather-popup {
					
					position: absolute;
					display: flex;
					// display: none;
					justify-content: space-around;
					width: 100%;
					height: 100%;
					left: 0;
					bottom: 0;
					align-items: center;
					flex-direction: column;
					background-image: url(../assets/img/gradient\ weather.jpg);
					background-position: center;
					background-size: cover;
					background-color: red;

					.popup-weather-header {
						font-size: 2rem;
					}
					.input-city-name {
						padding: 0.5rem;
						font-family: 'Caveat', cursive;
						border: none;
						border-bottom: 2px solid $weather-color;
						background-color: #fafafa;
						width: 60%;
						text-align: center;
						font-size: 1.7rem;
					}
					.input-city-name:focus {
						outline: none;
						border: 2px solid $weather-color;
						border-radius: 3px;
					}
					.weather-send-btn {
						font-family: 'Caveat', cursive;
						border-radius: 5px;
						border: 2px solid transparent;
						box-shadow: 0 0 6px $weather-color;
						background-color: #fafafa;
						cursor: pointer;
					}
					.weather-send-btn:hover {
						background-color: $weather-color;
						color: white;
					}
				}

				.weather-content {
					position: relative;
					display: flex;
					align-items: center;

					.city {
						font-size: 2rem;
						font-weight: bolder;
						margin-bottom: 1rem;
						margin-top: 7px;
					}

					.weather-box {
						display: flex;
						width: 80%;
						font-size: 1.8rem;
						margin-top: 5px;
						
						.weather-headings,
						.weather-info {
							width: 50%;
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
						}
					}
					.weather-icon {
						margin-top: 2.5rem;
						width: 50px;
					}
				}
			}
			.button-box {
				position: absolute;
				bottom: 5rem;
				width: 100%;
				left: 50%;
				transform: translate(-50%);
				display: flex;

				justify-content: center;
				padding: 0.7rem;

				.show-card-bth {
					// font-size: 1.6rem;
					margin: 0.5rem;
					// font-family: 'Caveat', cursive;
					// // padding: 0.5rem 0;
					// border-radius: 8px;
					// border: 2px solid transparent;
					width: 30%;
					// background: transparent;
					// cursor: pointer;
					// transition: background-color 0.3s;
					// display: inline-block;
					// box-sizing: border-box;
					// height: 70px;
					// line-height: 64px;

					padding: 1rem;
					border-radius: 999em;
					// text-decoration: none;
					color: #fff;
					font-size: 16px;
					vertical-align: bottom;
					white-space: nowrap;
					border: 1px solid transparent;
				}
				.show-stopwatch-btn {
					background-color: #431347;
				}
				.show-timer-btn {
					background-color: #21107a;
				}
				.show-weather-btn {
					background-color: #f77321;
				}
				.show-stopwatch-btn:hover {
					background-color: $stopwatch-color;
					color: white;
				}
				.show-timer-btn:hover {
					background-color: $timer-color;
				}
				.show-weather-btn:hover {
					background-color: $weather-color;
					color: white;
				}
			}
		}
		.timer-popup {
			position: absolute;
			width: 100%;
			height: 100%;
			display: none;
			// display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			z-index: 10;
			background-color: rgba($popup-color, $alpha: 0.8);
			border-radius: 20px;
			color: rgb(249, 246, 246);
			.popup-timer-header {
				margin: 2rem;
				font-size: 2.2rem;
				text-shadow: 0 0 5px rgb(0, 0, 0);
				letter-spacing: 1px;
			}

			.popup-input-event-name {
				width: 70%;
				text-align: center;
				border: none;
				font-size: 1.8rem;
				margin-bottom: 2rem;
			}

			input {
				padding: 0.5rem;
				border-radius: 5px;
				font-family: 'Caveat', cursive;
			}
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}

			.popup-date-box {
				width: 60%;
				display: flex;
				align-items: center;
				flex-direction: column;
				.label-box {
					.popup-label {
						font-size: 1.6rem;
					}
				}
				.label-box,
				.input-box {
					width: 100%;
					display: flex;
					justify-content: space-around;

					input {
						width: 30%;
						text-align: center;
						border: none;
						font-size: 1.8rem;
						margin: 0.5rem;
					}
				}
			}
			.timer-save {
				margin-top: 40px;
				width: 30%;
				@include timer-button;
				box-shadow: inset 0 0 4px $timer-color;
			}
			.timer-save:hover {
				background-color: $timer-color;
			}

			.error {
				margin-top: 2rem;
				letter-spacing: 0.5px;
				font-size: 2rem;
			}
		}
		.show-timer-popup {
			display: flex;
		}

		.time-date-box {
			position: absolute;
			width: 100%;
			height: 5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 0;
			font-size: 1.6rem;

			background-color: #2d0d30;
			color: #fff;

			text-shadow: 0 0 5px rgb(0, 0, 0);
			.clock-name,
			.date-name {
				margin-right: 1rem;
			}
			.time {
				margin-right: 3.5rem;
			}
		}
	}
}

@media (min-width: 375px) {
}

@keyframes red-dot {
	0% {
		opacity: 0;
	}
	17% {
		opacity: 1;
		background-color: $weather-color;
	}
	33% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		background-color: $timer-color;
	}
	66% {
		opacity: 0;
	}
	83% {
		opacity: 1;
		background-color: $stopwatch-color;
	}
	100% {
		opacity: 0;
	}
}
