@media (min-width: 530px) {
	body {
		.wrapper {
			max-width: 700px;
			background-color: #2d0d30;
			border-radius: 20px;
			border: 10px solid #2d0d30;
			
			.card-wrapper {
				.card {
					width: 70%;
					margin-top: 7rem;
					
					
					.stopwatch-history-page {
						.stopwatch-close-history {
							
							bottom: 6rem;
							
						  }
						.history-of-times {
							font-size: 2.5rem;
							margin-top: 10rem;
							p{
								margin-bottom: 2rem;
							}
						  }
					}
				}
				
				.weather-popup {
					width: 70%;
				
					
					
				}
			
				.button-box {
					margin-top: 28%;
				
				}
				.timer .timer-btn-box .timer-edit {
					margin-bottom: 10rem;
				}
			}
		
			.time-date-box {
				font-size: 3rem;
			}
		}
	}
}