.stopwatch-history {
	@include btnStyle;
	@include mainBtn;
}
.stopwatch-history span {
	transition: all 0.3s;
}

.stopwatch-history::before {
	@include btnStyleBefore;
}

.stopwatch-history:hover span {
	letter-spacing: 4px;
}
.stopwatch-history:hover::before {
	@include btnHoverBefore;
}

.stopwatch-history::after {
	@include btnStyleAfter;
}
.stopwatch-history:hover::after {
	@include btnHoverAfter;
}

.history-of-times {
						
	font-size: 2rem;
	
	p {
		line-height: 2.5rem;
	}
	p:last-child{
		margin-bottom: 5rem;
	}
}
